body {
    background-color: black;
}
#title {
    /* text-decoration: underline; */
    color: white;
    margin-left: 2.5%;
    font-size: 30px;
}
img {
    height: 25%;
    width: 25%;
}

p {
    font-family: 'Kanit', sans-serif;
    color: white;
}

.imagetext {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 2%;  
}

.section {
    border-top: 2px dotted white;
}

.textportfolio {
    padding-left: 2%;
    font-size: 20px;
}

#coffeeclicker {
    border-bottom: 2px dotted white;
}

.portfolioheaders {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2.5%;
    margin-right: 25%;
}

.projecttitle {
    font-size: 20px;
    text-decoration: underline;
    font-weight: bolder;
}

.portfolioimg {
    margin-left: 2.5%;
}

.linkto {
    padding-top: 2%;
    color: #6CB4EE;
    text-decoration: underline;
}


